%displayFlexStyles {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%bigLineStyles {
    height: 2px;
    width: 100%;
    background-color: $blackColor;
}

%bigHiddenLineStyles {
    height: 2px;
    width: 0%;
    background-color: $blackColor;
}