//COLORS

$navBackgroundColor: #FFFEFE;
$newsLetterBackgroundColor: #F5F5F5;
$hoverLineColor: #EEF435;
$blackColor: #000000;
$emailColor: #9F9D9D;
$footerSubItemsColor: #B1AEAE;

//MARGINS

$mainPaddingRightAndLeft: 9.4%;
$mainPaddingRightAndLeftMobile: 5%;


//FONT SIZES

$mainTitleFontSize: 1.5rem;
$secondaryTitleFontSize: 1.25rem;