@import '../../../styles/styles.scss';

.newness-section {
    padding: 70px $mainPaddingRightAndLeft 80px $mainPaddingRightAndLeft;

    &__header {
        font-size: $mainTitleFontSize;
        margin-bottom: 20px;
        text-align: center;
    }

    &__main-div {
        &__image {
            display: flex;
            align-items: center;
            position: relative;
            &__img-div {
                width: 25%;
                img {
                    width: 100%;
                    margin-bottom: -4px;
                }
            }
            &__overlay-hover-main {
                position: absolute;
                height: 100%;
                width: 25%;
                right: 0%;
                border: 2px solid transparent;
                transition: .2s linear;
                z-index: 1;
            }
            #overlay-main-0 {
                left: 0%;
            }
            #overlay-main-1 {
                left: 25%;
            }
            #overlay-main-2 {
                left: 50%;
            }
            #overlay-main-3 {
                left: 75%;
            }
        }

        &__elements {
            display: flex;
            align-items: center;
            &__section {
                width: 25%;
                opacity: 0;
                transition: all .3s linear;
                p {
                    margin: 10px 0 20px 0;
                    text-align: center;
                    font-size: 14px;
                }
                &__sizes {
                    @extend %displayFlexStyles;
                    span {
                        font-size: 14px;
                    }
                }
            }
        }  
    }

    &__mobile {
        display: none;
    }
}

.newness-bottom-line {
    @extend %bigLineStyles;
}

@media only screen and (max-width: 920px) {
    .newness-section {
        padding-bottom: 40px;
        &__header {
            font-size: 22px;
        }

        &__main-div__elements__section__sizes {
            span {
                font-size: 13px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .newness-section {
        &__header {
            font-size: 20px;
        }
        &__main-div__elements__section {
            p {
                margin-bottom: 10px;
            }
            p, span {
                font-size: 13px;
            }
        }
    }
}

@media only screen and (max-width: 610px) {
    .newness-section {
        &__header {
            font-size: 18px;
        }
        &__main-div__elements__section {
            p, span {
                font-size: 12px;
            }
        }
    }
}

@media only screen and (max-width: 486px) {
    .newness-section {
        padding: 70px 0;

        &__header {
            text-align: start;
            margin-left: $mainPaddingRightAndLeftMobile;
        }
        &__main-div {
            display: none;
        }
        &__mobile {
            display: block;

            &__carousel {
                position: relative;
                overflow: hidden;
                &__image-slider {
                    white-space: nowrap;
                    transition: 0.7s;
                    // overflow: scroll;
                    // scroll-behavior: smooth;
                    // &::-webkit-scrollbar {
                    //     display: none;
                    // }

                    &__img {
                        width: 100%;
                        display: inline-block;
                        border-bottom: 2px solid $blackColor;

                        img {
                            width: 100%;
                            aspect-ratio: 350/400;
                        }
                    }
                }

                &__control-arrow {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: absolute;
                    top: 50%;
                    width: 100%;

                    &__right-arrow {
                        width: 30px;
                        margin-right: 5px;
                        img {
                            width: 100%;
                        }
                    }
                    &__left-arrow {
                        margin-left: 5px;
                        width: 30px;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            p {
                text-align: center;
                margin: 10px $mainPaddingRightAndLeftMobile 25px $mainPaddingRightAndLeftMobile;
                font-size: 14px;
            }
            &__line-slider {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 $mainPaddingRightAndLeftMobile;

                .show-line {
                    height: 4px;
                    width: 22%;
                    background: $blackColor;
                    border: none;
                    outline: none;
                    opacity: 0.2;
                    cursor: pointer;
                    transition: 0.7s;
                }

                .active {
                    opacity: 1;
                    height: 6px;
                }
            }
        }
    }
}