@import '../../../styles/styles.scss';

.video-container {
    width: 100%;
    padding: 0 $mainPaddingRightAndLeft;
    position: relative;

    &__vid-item {
        width: 100%;
    }
    &__vid-item:hover ~ &__vid-control {
        display: block;
    }
    &__vid-control:hover {
        display: block;
    }
    &__vid-control {
        display: none;
        position: absolute;
        width: 81.2%;
        bottom: 5px;
        animation: anim-video-control 0.3s ease-out forwards;
        &__time-line {
            background-color: rgba(73, 73, 73, 0.75);
            width: 100%;
            height: 4px;
            div {
                background-color: $hoverLineColor;
                height: 100%;
            }
        }

        &__tools {
            background: rgba(0, 0, 0, 0.75);
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__left-part {
                padding: 10px 0;
                display: flex;
                align-items: center;
                &__play-video {
                    display: flex;
                    align-items: center;
                    margin: 0 20px;
                    svg {
                        &:first-child {
                            cursor: pointer;
                            transform: rotate(180deg);
                        }
                        &:last-child {
                            width: 30px;
                            cursor: pointer;
                        }
                    }
                }
                &__revert-video {
                    display: flex;
                    align-items: center;
                    margin-right: 20px;
                    svg {
                        cursor: pointer;
                        width: 22px;
                        &:first-child {
                            transform: rotate(180deg);
                            margin-right: 10px;
                        }
                    }
                }
                &__video-time {
                    display: flex;
                    align-items: center;
                    span {
                        font-size: 16px;
                        color: white;
                    }
                }
            }
            &__right-part {
                padding: 10px 0;
                display: flex;
                align-items: center;
                &__sound-video {
                    display: flex;
                    align-items: center;
                    svg {
                        &:first-child {
                            width: 20px;
                            cursor: pointer;
                        }
                        &:last-child {
                            width: 20px;
                            cursor: pointer;
                        }
                    }
                }
                &__video-screen {
                    display: flex;
                    align-items: center;
                    margin: 0 20px;
                    svg {
                        &:first-child {
                            width: 20px;
                            cursor: pointer;
                        }
                        &:last-child {
                            width: 20px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    @keyframes anim-video-control {
        from {
          opacity: 0;
          transform: translateY(10px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
    }
}

@media only screen and (max-width: 920px) {
    .video-container__vid-control__tools {
        &__left-part {
            &__play-video {
                svg {
                    &:last-child {
                        width: 20px;
                    }
                }
            }
            &__revert-video {
                svg {
                    width: 15px;
                }
            }
            &__video-time {
                span {
                    font-size: 14px;
                }
            }
        }
        &__right-part {
            &__sound-video {
                svg {
                    &:first-child {
                        width: 15px;
                    }
                    &:last-child {
                        width: 15px;
                    }
                }
            }
            &__video-screen {
                svg {
                    &:first-child {
                        width: 15px;
                    }
                    &:last-child {
                        width: 15px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 486px) {
    .video-container {
        padding: 0;
        &__vid-control {
            width: 100%;
            &__tools__left-part__video-time {
                span {
                    font-size: 13px;
                }
            }
        }
    }
}